<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="gallery">
  <div class="row">
      <div class="thumbnail">
          <div *ngFor="let user of userPictures">
            <div class="main-div">
              <mat-card class="example-card"  layout-align="center">
                <img mat-card-image src={{user.thumbnailUrl}} alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p> {{user.name}}.</p>

                    <i class="material-icons">room</i>  {{user.street}}, {{user.city}}
                    <button mat-mini-fab color="warn" [routerLink]="['/page']" (click)=
                      "goToUser(
                        user.id,
                        user.thumbnailUrl
                      )">
                      <i class="material-icons">add</i>
                    </button>

                </mat-card-content>
              </mat-card>
              <br><br>
            </div>
          </div>
      </div>
  </div>
</div>
