<div class="container">
    <div class="row">
        <div class="col s12 " *ngFor="let user of userPictures">
                <div class="card" >
                    <div class="card-image">
                      <img  src="{{user.thumbnailUrl}}">
                      <span class="black-text card-title myClassHey" >

                      {{user.name}}<br>
                      <i class="material-icons icon-color">&#xE8B4;</i> {{user.street}}

                      <!-- <i class="material-icons right" [routerLink]="['/page']" (click)=
                        "goToUser(
                          user.id,
                          user.thumbnailUrl
                        )">add</i> -->

                      <a class="btn-floating right" [routerLink]="['/page']" (click)=
                        "goToUser(
                          user.id,
                          user.thumbnailUrl
                        )">
                        <i class="material-icons">add</i>
                      </a>

                      </span>

                      </div>
                  </div>
        </div>
    </div>
</div>
